/* Stylesheet.css for MyTimes project by Sarah Wynn Feb 2018 */

body {

}

header {
  /* positioning */
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  border-bottom: 1px solid black;

  /* align-items: center; */

  /* styling */
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

/* .logo {
  display: inline-flex;
  color: MediumAquamarine;
  align-items: center;
} */

#logo {
  display: inline-flex;
  align-items: center;
}

#logo p {
  color: MediumAquamarine;
  padding-left: 10px;
}

#navigation {
  display: inline-flex;
}

#navigation ul {
  /* display: inline-block; */
  justify-content: space-around;
  list-style-type: none;
}


#navigation li {
  display: inline-block;
  padding: 8px;
}

main: {
  display: inline-flex;
}

.column {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.article {
  border: 1px dashed black;
}
